body {
	background-color: #6c6c6c;
}
p {
	margin: 0;
	padding: 0;
}



.title {
	font: bold 3em "Monotype Corsiva";
    	color: white;
    	text-shadow: black 5px 6px 3px,
	black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
	font-size: 16px;
	margin-left: 86px;
	margin-top: 17px;
	display: inline-block;
	
}

.lar {
	font: bold 3em "Monotype Corsiva";
    	color: white;
    	text-shadow: black 5px 6px 3px,
	#4d4c4c 2px 2px 0, #4d4c4c -2px -2px 0, 
                 #4d4c4c -2px 2px 0, #4d4c4c 2px -2px 0;
	font-size: 24px;
	margin-left: 95px;
	margin-top: 38px;
}

.ob {
	color: white;
	margin-left: 100px;
}

.hr { 
	width: 1000px;
	border-bottom: 2px solid #4a4a4a;
	margin-top: 5px;
	margin-left: 75px;
}

.text { 
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	left: 550px;  
	top: 300px; 
	width: 150px; 
	text-indent: 4px;
	position: absolute;
}

img {
	margin-left: 400px;
	margin-top: 65px;
}

.zagolovok {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: white;
	font-size: 24px;
	left: 40px;  
	top: -40px; 
	text-indent: 4px;
	position: absolute;
	text-shadow: black 1px 1px 1px,
	#4d4c4c 1px 1px 0, #4d4c4c -1px -1px 0, 
                 #4d4c4c -1px 1px 0, #4d4c4c 1px -1px 0;
}

.partone {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: -50px;  
	top: 5px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.parttwo {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: -50px;  
	top: 20px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.partfre {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: -50px;  
	top: 35px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.partfo {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: -50px;  
	top: 50px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.partfive {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: -50px;  
	top: 65px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.zagolovoktwo {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: white;
	left: 0px;  
	top: 110px; 
	font-size: 24px;
	text-indent: 0px;
	position: absolute;
	text-shadow: black 1px 1px 1px,
	#4d4c4c 1px 1px 0, #4d4c4c -1px -1px 0, 
                 #4d4c4c -1px 1px 0, #4d4c4c 1px -1px 0;
}

.partsix {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: 0px;  
	top: 170px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.partseven {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: 0px;  
	top: 230px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.partega {
	font-family: "Monotype Corsiva"; 
	font-size: 70%; 
	color: black;
	left: 15px;  
	top: 295px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
}

.ots {
	padding-left: 90px;
	padding-right: 350px;
	color: white;
}

.con { 
	width: 1000px;
	border-bottom: 2px solid #4a4a4a;
	margin-top: 25px;
	margin-left: 80px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	border-bottom: .07em solid;
	text-decoration: underline;
}

a:active {
	color: white;
	border-bottom: 1px dashed;
	text-decoration: none;
}

.cent {
	margin: 0;
	padding: 0;
	font-family: "Monotype Corsiva";
	left: 170px;  
	top: 0px; 
	font-size: 16px;
	text-indent: 0px;
	position: absolute;
	color: white;
	text-shadow: black 1px 1px 1px,
	#4d4c4c 1px 1px 0, #4d4c4c -1px -1px 0, 
                 #4d4c4c -1px 1px 0, #4d4c4c 1px -1px 0;
} 